<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%=title%>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel='stylesheet' href='/stylesheets/dashboard.css' />
</head>

<body>
  <h1>
    <%= title%>
  </h1>
  <div class="form-modal">

    <div id="man-form">
      <h3>
        <%= subTitle1%>
      </h3>
      <form id="manform" action="/createNodalOfficer/submit" method="POST"
        onsubmit="return validateCreateNodalOfficerForm();">
        <table>
          <tr>
            <input name="nodalOfficerId1" id="nodalOfficerId1" class="form-control" type="text"
              placeholder="Enter Nodal Officer ID" />
          </tr>
          <tr>
            <input name="district" id="district" class="form-control" type="text" placeholder="Enter District" />

          </tr>
          <tr>
            <input name="taluk" id="taluk" class="form-control" type="text" placeholder="Enter Taluk" />
          </tr>
        </table>
        <button type="submit" class="btn login">
          <%= subTitle1%>
        </button>

      </form>

    </div>

    <div class="form-modal">

      <div id="man-form">
        <h3>
          <%= subTitle2%>
        </h3>
        <form id="manform" action="/readNodalOfficer" method="POST" onsubmit="return validateReadNodalOfficerForm();">
          <table>

            <input name="nodalOfficerId2" id="nodalOfficerId2" class="form-control" type="text"
              placeholder="Enter Nodal Officer ID" />
          </table>
          <button type="submit" class="btn login fs-5 fw-bold mt-3">
            <%= subTitle2%>
          </button>

        </form>

      </div>


      <br>

    </div>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/index.js"></script>
</body>

</html>