<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%=title%>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel='stylesheet' href='/stylesheets/dashboard.css' />
</head>

<body>
  <h1>
    <%= title%>
  </h1>
  <div class="form-modal">

    <div id="man-form">
      <h3>
        <%= subTitle%>
      </h3>
      <table id="man-form">
        <thead>
          <tr>
            <th scope="col">FIELD</th>
            <th scope="col">VALUE</th>
          </tr>
        </thead>
        <tr>
          <th scope="row">RATION CARD ID</th>
          <td><%=rationCardNumber%></td>
        </tr>
        <tr>
          <th scope="row">NODAL OFFICER ID</th>
          <td><%=nodalOfficerId%></td>
        </tr>
        <tr>
          <th scope="row">RATION RETAILER ID</th>
          <td><%=rationRetailerId%></td>
        </tr>
        <tr>
          <th scope="row">DISTRICT</th>
          <td><%=district%></td>
        </tr>
        <tr>
          <th scope="row">TALUK</th>
          <td><%=taluk%></td>
        </tr>
        <tr>
          <th scope="row">LSG BODY</th>
          <td><%=LSGBody%></td>
        </tr>
        <tr>
          <th scope="row">WARD NUMBER</th>
          <td><%=wardNumber%></td>
        </tr>
        <tr>
          <th scope="row">DOES FAMILY HEAD AVAILABLE</th>
          <td><%=doesFamilyHeadAvailable? 'YES': 'NO';%></td>
        </tr>
        <tr>
          <th scope="row">FAMILY HEAD</th>
          <td><%=doesFamilyHeadAvailable? familyHead: 'NOT AVAILABLE';%></td>
        </tr>
        <tr>
          <th scope="row">FAMILY HEAD NUMBER</th>
          <td><%=doesFamilyHeadAvailable? familyHeadNumber: 'NOT AVAILABLE';%></td>
        </tr>
        <tr>
          <th scope="row">HOUSE NUMBER</th>
          <td><%=houseNumber%></td>
        </tr>
        <tr>
          <th scope="row">DOES HOME HAVE ELECTRICITY CONNECTION</th>
          <td><%=isHomeElectrified? 'YES': 'NO';%></td>
        </tr>
        <tr>
          <th scope="row">MOBILE NUMBER</th>
          <td><%=mobileNumber%></td>
        </tr>
        <tr>
          <th scope="row">RATION CARD COLOUR</th>
          <td><%=rationCardColour === null? 'NOT AVAILABLE': rationCardColour%></td>
        </tr>
        <tr>
          <th scope="row">RATION CARD TYPE</th>
          <td><%=rationCardType === null? 'NOT AVAILABLE': rationCardType%></td>
        </tr>
        <tr>
          <th scope="row">TOTAL FAMILY INCOME</th>
          <td><%=totalFamilyIncome%></td>
        </tr>
        <tr>
          <th scope="row">TOTAL FAMILY MEMBERS</th>
          <td><%=totalFamilyMembers%></td>
        </tr>
      </table>

    </div>

  </div>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/index.js"></script>
</body>

</html>